main {
    padding: 5vh 5vw;
    display: grid; /* display grid afin de pouvoir dispositionner les éléments plus facilement sur la page*/
    gap: 2vh;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr auto 1fr;
}

.case {
    margin: 0;

    /* centrer le contenu des cases au centre vertical et horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
}

#titre {
    grid-column: 2 / 3; /* placement du titre entre la 2eme et 3eme colonne de la grid */
    grid-row: 1 / 2; /* placement du titre entre la 1ere et 2eme colonne de la grid */
    font-size: 3vw; /* taille du texte définie à 3% de la taille horizontale de l'écran */
}

#funfact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1vw;
}

#couverture {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    perspective: 1000px; /* donne un effet 3D de perspective pour l'animation de rotation en javascript */
}

#auteuretc {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 1vw;
}

#description {
    background-color: #f5e6d7; /* couleur du fond */
    color: #4e342e; /* couleur de l'écriture */
    border-radius: 2vh;
    box-shadow: .5vh .5vh 0 0 rgba(0, 0, 0, 0.3); /* ombre noire transparente à 30% en bas à droite du cadre */
    padding: 3vw; /* espace entre le bord et le cadre d'écriture */
    font-size: 1.4vw;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 0; /* espace entre les éléments autour et le bord */
}

#emprunt {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#valider {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 2vh 18vw;
    align-content: center;
    justify-content: center;
}

#bouton {
    font-size: 2vw;
    padding: 2vw;
    border: 1px solid #f5e6d7;
    background-color: #f5e6d7;
    color: #4e342e;
    border-radius: 1vw;
    transition: all 0.1s ease; /* transition pour le #bouton:active */
    box-shadow: .5vh .5vh rgba(0, 0, 0, 0.3);
}

#bouton:hover { /* lors du survol du bouton */
    cursor: pointer;
}

#bouton:active { /* lors du clique sur le bouton, effet de bouton qui s'enfonce dans la page */
    transform: translateY(2px);
    box-shadow: inset .5vh .5vh rgba(0, 0, 0, 0.3);
}

#restants {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#exemplairesRestants {
    display: none; /* n'affiche pas le div dans la page */
}

.cover {
    width: 18vw;
    border-radius: 2vh;
    box-shadow: .5vh .5vh 0 0 rgba(0, 0, 0, 0.3);

    /* pour l'animation */
    transition: transform 0.2s linear;
    transform-style: preserve-3d;
    display: block;
    margin: auto;
}

/* responsive format téléphone */

@media (max-width: 800px) {
    main {
        gap: 1vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 7fr 1fr 5fr 2fr 2fr 2fr;
    }

    #titre {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #couverture{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #auteuretc {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #description {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #emprunt {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    #restants {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    #valider {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
}