main {
    padding: 5vh 5vw;
    display: grid;
    gap: 2vh;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.case {
    display: flex;
    margin: 0;
    background-color: rgba(0, 183, 255, 0.5);
    align-items: center;
    justify-content: center;
}

#titre {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 7vh;
}

#couverture {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#auteuretc {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#description {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 0;
}

#emprunt {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#valider {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#restants {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}